* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family:'shine';
    src: url('fonte/Shine\ Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family:'shine';
    font-weight: normal;
    font-style: normal;
    color: #ffde59;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-family:'shine';
    font-weight: normal;
    font-style: normal;
    color: #ffde59;
    font-size: 70px;
    text-align: center;
}

h3 {
    font-family:'shine';
    font-weight: normal;
    font-style: normal;
    color: #cb6ce6;
    font-size: 42px;
    text-align: center;
    margin-top: 32px;
}

button {
    cursor: pointer;
}

.container-one {
    width: 100%;
    height: 100vh;
    padding: 16px;

    background-image: url(img/music_pag1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informs-container-one {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container-two {
    width: 100%;
    height: 100vh;
    padding: 16px;

    background-image: url(img/music_pag2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
}

.informs-container-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 52%;
    margin-left: 2%;
    gap: 16px;
}

.text-box {
    background-color: #fd9e9e;
    color: #fff;
    width: 90%;
    font-size: 20px;
    
    border: 0;
    border-radius: 20px;
    text-align: justify;
    text-indent: 40px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container-three {
    width: 100%;
    height: 100vh;

    background-image: url(img/music_pag3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* gap: 50px; */
}

.inform-container-three {
    width: 90%;
    margin-right: 15%;
}

.container-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.formt-card {
    background-image: linear-gradient(to right,#b7e4fd, #ffb9fa);
    color: #5271ff;
    border: #a7b7ff;

    width: 50%;
    height: 200px;
    font-size: 20px;
    
    border: 0;
    border-radius: 20px;
    text-align: justify;
    /* padding: 30px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}  

.id-card {
    margin-left: 250px;
    margin-top: 50px;

 }

.cred-card-one {
    font-family: 'shine';
    font-weight: normal;
    width: 32%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.cred-card-two {
    font-family: 'shine';
    font-weight: normal;
    width: 32%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 16px;   
}

.style-number-one {
    color: #0cc0df;
    font-size: 24px;
}

.style-number-two {
    background-color: #ededed;
    border: none;
    height: 40px;
    width: 350px;
}

.style-number-two::placeholder {
    color: #c9c7c7;
    text-align: center;
    font-size: 12px;  
}

.style-name-one {
    color: #ff66c4;
    font-size: 24px;
}

.style-name-two {
    background-color: #ededed;
    border: none;
    height: 40px;
    width: 350px;
}

.style-name-two::placeholder {
    color: #c9c7c7;
    text-align: center;
    font-size: 12px; 
}

.style-expiration-one {
    color: #7ed957;
    font-size: 24px;
}

.style-expiration-two {
    background-color: #ededed;
    border: none;
    height: 40px;
    width: 167.5px;
}

.style-expiration-two::placeholder {
    color: #c9c7c7;
    text-align: center;
    font-size: 12px; 
}

.style-code-one {
    color: #cb6ce6;
    font-size: 24px;
}

.style-code-two {
    background-color: #ededed;
    border: none;
    height: 40px;
    width: 167.5px;
  }

.style-code-two::placeholder {
    color: #c9c7c7;
    text-align: center;
    font-size: 12px; 
}

.container-for {
    background-image: url(img/music_pag4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 100vh;
}

.inform-container-for {
    margin-left: 9%;
    margin-top: 30%;
}

.card-validation {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.button-menu-container {
    width: 35%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.button {
    font-family: 'shine';
    font-weight: normal;
    text-align: center;
    border-radius: 20px;
    border: 0;
    height: 40px;
    padding: 0 32px;

    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(0.8);
}


.btn1 {
    background-color:#fd9e9e;
    color: #fff;
    font-size: 20px;
    border: #fd9e9e;
}

.btn2 {
    background-color:#ffeeaa;
    color: #fff;
    font-size: 20px;
    border: #ffeeaa;
}

.btn3 {
    background-color:#c9ffb2;
    color: #fff;
    font-size: 20px;
    border: #c9ffb2; 
}

.btn4 {
    background-color:#a7b7ff;
    color: #fff;
    font-size: 20px;
    border: #a7b7ff;
}

.btn5 {
    background-color:#ff9dd9;
    color: #fff;
    font-size: 20px;
    border: #ff9dd9;
}

.return-menu {
    background-color:#a7b7ff;
    color: #fff;
    font-size: 20px;
    border: #a7b7ff;
    margin-top: 32px;
}

.validation {
    background-image: linear-gradient(to right,#b7e4fd, #ffb9fa);
    color: #5271ff;
    font-size: 20px;
    border-radius: 2%;
    border: #a7b7ff;

    margin-top: 30px;
    padding: 0 146px;
}

.return-menu-two {
    background-color:#fd9e9e;
    color: #fff;
    font-size: 20px;
    border: #fd9e9e;
    margin-top: 32px;
    width: 280px;    
}

.confirm {
    background-color:#fd9e9e;
    color: #fff;
    font-size: 20px;
    border: #fd9e9e;
    margin-top: 32px;
    width: 280px;
}

.hide {
    display: none;
}